In [1]:
!wget "https://raw.githubusercontent.com/opensourcemukul/AIandDeepLearning/main/Datasets/Bank_churn_modelling.csv"

--2021-07-14 10:09:46--  https://raw.githubusercontent.com/opensourcemukul/AIandDeepLearning/main/Datasets/Bank_churn_modelling.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 674857 (659K) [text/plain]
Saving to: ‘Bank_churn_modelling.csv’

Bank_churn_modellin 100%[===================>] 659.04K  --.-KB/s    in 0.06s

2021-07-14 10:09:47 (11.3 MB/s) - ‘Bank_churn_modelling.csv’ saved [674857/674857]

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
!ls

Bank_churn_modelling.csv  sample_data

In [5]:
df = pd.read_csv("Bank_churn_modelling.csv")

In [6]:
df

      RowNumber  CustomerId    Surname  ...  IsActiveMember EstimatedSalary Exited
0             1    15634602   Hargrave  ...               1       101348.88      1
1             2    15647311       Hill  ...               1       112542.58      0
2             3    15619304       Onio  ...               0       113931.57      1
3             4    15701354       Boni  ...               0        93826.63      0
4             5    15737888   Mitchell  ...               1        79084.10      0
...         ...         ...        ...  ...             ...             ...    ...
9995       9996    15606229   Obijiaku  ...               0        96270.64      0
9996       9997    15569892  Johnstone  ...               1       101699.77      0
9997       9998    15584532        Liu  ...               1        42085.58      1
9998       9999    15682355  Sabbatini  ...               0        92888.52      1
9999      10000    15628319     Walker  ...               0        38190.78      0

[10000 rows x 14 columns]

In [7]:
df = df.drop('RowNumber', axis = 1)

In [8]:
df = df.drop('CustomerId', axis = 1)

In [9]:
df

        Surname  CreditScore Geography  ... IsActiveMember  EstimatedSalary  Exited
0      Hargrave          619    France  ...              1        101348.88       1
1          Hill          608     Spain  ...              1        112542.58       0
2          Onio          502    France  ...              0        113931.57       1
3          Boni          699    France  ...              0         93826.63       0
4      Mitchell          850     Spain  ...              1         79084.10       0
...         ...          ...       ...  ...            ...              ...     ...
9995   Obijiaku          771    France  ...              0         96270.64       0
9996  Johnstone          516    France  ...              1        101699.77       0
9997        Liu          709    France  ...              1         42085.58       1
9998  Sabbatini          772   Germany  ...              0         92888.52       1
9999     Walker          792    France  ...              0         38190.78       0

[10000 rows x 12 columns]

In [10]:
df = df.drop('Surname', axis = 1)

In [11]:
df

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [13]:
df['Geography'] = df['Geography'].str.lower()
df['Geography'] = df['Geography'].str.replace(" ","")
df['Gender'] = df['Gender'].str.lower()
df['Gender'] = df['Gender'].str.replace(" ","")

In [14]:
df

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    france  female  ...               1        101348.88       1
1             608     spain  female  ...               1        112542.58       0
2             502    france  female  ...               0        113931.57       1
3             699    france  female  ...               0         93826.63       0
4             850     spain  female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    france    male  ...               0         96270.64       0
9996          516    france    male  ...               1        101699.77       0
9997          709    france  female  ...               1         42085.58       1
9998          772   germany    male  ...               0         92888.52       1
9999          792    france  female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [15]:
df_backup = df

In [16]:
df = pd.get_dummies(df)

In [17]:
df

      CreditScore  Age  Tenure  ...  Geography_spain  Gender_female  Gender_male
0             619   42       2  ...                0              1            0
1             608   41       1  ...                1              1            0
2             502   42       8  ...                0              1            0
3             699   39       1  ...                0              1            0
4             850   43       2  ...                1              1            0
...           ...  ...     ...  ...              ...            ...          ...
9995          771   39       5  ...                0              0            1
9996          516   35      10  ...                0              0            1
9997          709   36       7  ...                0              1            0
9998          772   42       3  ...                0              0            1
9999          792   28       4  ...                0              1            0

[10000 rows x 14 columns]

In [18]:
X = df
X = X.drop('Exited', axis = 1)

In [19]:
X

      CreditScore  Age  Tenure  ...  Geography_spain  Gender_female  Gender_male
0             619   42       2  ...                0              1            0
1             608   41       1  ...                1              1            0
2             502   42       8  ...                0              1            0
3             699   39       1  ...                0              1            0
4             850   43       2  ...                1              1            0
...           ...  ...     ...  ...              ...            ...          ...
9995          771   39       5  ...                0              0            1
9996          516   35      10  ...                0              0            1
9997          709   36       7  ...                0              1            0
9998          772   42       3  ...                0              0            1
9999          792   28       4  ...                0              1            0

[10000 rows x 13 columns]

In [20]:
y = df[['Exited']]

In [21]:
y

      Exited
0          1
1          0
2          1
3          0
4          0
...      ...
9995       0
9996       0
9997       1
9998       1
9999       0

[10000 rows x 1 columns]

In [32]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, recall_score, f1_score
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10)

In [24]:
X_train

      CreditScore  Age  Tenure  ...  Geography_spain  Gender_female  Gender_male
5699          684   35       6  ...                0              0            1
3292          496   41       1  ...                0              1            0
6178          850   40       4  ...                0              1            0
448           675   38       6  ...                0              1            0
9342          619   28       3  ...                0              1            0
...           ...  ...     ...  ...              ...            ...          ...
8144          571   34       1  ...                0              0            1
9926          803   36       1  ...                0              0            1
37            804   33       7  ...                1              0            1
5958          540   40       3  ...                0              1            0
8899          584   41       3  ...                0              1            0

[9000 rows x 13 columns]

In [25]:
y_train

      Exited
5699       0
3292       0
6178       0
448        1
9342       0
...      ...
8144       0
9926       0
37         0
5958       0
8899       0

[9000 rows x 1 columns]

In [26]:
model = LogisticRegression()
model.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [27]:
y_pred = model.predict(X_test)

In [28]:
print(confusion_matrix(y_test, y_pred))

[[769  16]
 [204  11]]

In [31]:
accuracy_score(y_test, y_pred)

0.78

In [33]:
recall_score(y_test, y_pred)

0.05116279069767442

In [34]:
f1_score(y_test, y_pred)

0.09090909090909091

In [35]:
model.coef_

array([[-4.92368542e-03,  4.27051748e-02, -1.93023471e-03,
         3.49038302e-06, -4.10391878e-04, -2.08969774e-04,
        -1.43419420e-03, -1.52485564e-06, -8.58989918e-04,
         9.53361963e-04, -2.91983597e-04,  8.60354752e-04,
        -1.05796630e-03]])